<h1>ADMIN DASHBOARD</h1>


<div class="panel panel-default items">
  <table class="table table-bordered">
    <tr>
      <th>Product Results</th>
      <th>Category Results</th>
    </tr>
    <tr>
      <td><a href = "/admin/products"> <%= @product_count %></a></td>
      <td><a href = "/admin/categories"><%= @category_count %></a></td>
    </tr>
  </table>
</div>