<section class="categories-show">

  <header class="page-header">
    <h1> WHAT IS OUR COMPANY MOTTO SONG?</h1>
  </header>

  <div class="about">
   "*Play Empire State of Mind Instrumental first*
    Bacon pancakes 
    Bacon Pancakes
    Making Bacon Pancakes
    Take some bacon and I'll put it in a pancake
    Bacon Pancakes That's what its gonna make
    Bacon Pancaaaaaaaaaaaaaakes
    
    Bacon pancakes 
    Bacon Pancakes
    Making Bacon Pancakes
    Take some bacon and I'll put it in a pancake
    Bacon Pancakes That's what its gonna make
    Bacon Pancaaaaaaaaaaaaakes
    
    Bacon pancakes 
    Bacon Pancakes
    Making Bacon Pancakes
    Take some bacon and I'll put it in a pancake
    Bacon Pancakes That's what its gonna make
    Bacon Pancaaaaaaaaaaaaakes"
  </div>

</section>